.search-flex{
   display: flex;
   justify-content: flex-start;
   align-items: center;
   gap: 1.5rem;
   padding: 0.5rem 1rem;
   color: var(--green);
   background-color: var(--darkGreay);
 width: 80%;
 margin: 1rem;
 margin-left: auto;
 margin-right: auto;
   border-radius: 2rem;
  }
  .search-flex input {
   width: 100%;
   background-color: var(--darkGreay);
   border: 0px;
   color: var(--white);
   font-family: "Inter";
   font-weight: 600;
   font-size: 1rem;
 }
 
 .search-flex input:focus {
   outline: none;
 }