.grid-container{
 width: 300px;
 background-color: var(--darkGreay);
 height: 300px;
 border: 2px solid var(--darkGreay);
 border-radius: 0.75rem;
  
}
.grid-container:hover {
   border-color: var(--green);
   transition: all 0.3s;
}
.grid-container-red:hover {
  border-color: var(--red) !important;
  transition: all 0.3s;
}
.heart{
      display: flex;
     margin-left: 2rem;
    
       color: var(--red);
}

@media only screen and(max-width:700px) {
    .grid-container{
    width: 270px;
    height: 270px;
    }
}

.info-flex{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 1rem;
    margin: 1rem 1.5rem;
}
.coin-logo{
 height: 3rem;
 width: 3.5rem;
}
.name-col{
        display: flex;
        flex-direction: column;

}
.coin-symbol{
     color: var(--white);
     text-transform: uppercase;
     font-weight: 600;
     font-size: 1.2rem;
     margin: 0;
}
.coin-name{
   color: var(--grey);
   text-transform: capitalize;
   font-weight: lighter;
   font-size: 1rem;
   margin: 0;
}
.chip-flex{
     display: flex;
     justify-self: flex-start;
     gap: 1rem;
     align-items: center;
     margin-left: 1.5rem;
}
.price-chip{
     border: 2px solid var(--green);
     border-radius: 1rem;
     padding: 0.3rem 1rem;
     text-align: center;
     font-weight: 600;
     color: var(--green);
     min-width: 60px;
}
.price-chip-red{
    border: 2px solid var(--red);
    border-radius: 1rem;
    padding: 0.3rem 1rem;
    text-align: center;
    font-weight: 600;
    color: var(--red);
}
.price-chip-red:hover{
    background-color: var(--red);
    color: var(--white);
}
.price-chip:hover{
    background-color: var(--green);
    color: var(--white);
    transition: all 0.3s;
}


.icon-chip{
    color: var(--green);
    border-radius: 50%;
    height: 2rem !important;
    width: 2rem !important;
    display: flex;
    justify-content: center; 
    align-items: center; 
    border: 2px solid var(--green);
}
.icon-chip:hover{
    background-color: var(--green) ;
    color: var(--white) ;
    transition: all 0.3s;
}
.chip-red{
    border: 2px solid var(--red) ;
    border-radius: 50%;
    color: var(--red);
    height: 2rem;
    width: 2rem;
    display: flex;
    justify-content: center; 
    align-items: center; 
}
.chip-red:hover{
    
    background-color: var(--red) ;
    color: var(--white) ;
    transition: all 0.3s;
}
.info-container{
     margin: 1.5rem;
}
.coin-price{
    color: var(--green);
    font-size: 1.2rem;
    font-weight: 600;
}
.total_vol{
    color: var(--grey);
    font-size: 1rem;
    
}
.star-icon-green{
   
 color: var(--green);
 cursor: pointer;
 
}
.star-icon-green:hover{
  
      color: green;
      cursor: pointer;
}
.star-icon-red{
    
    border: none;
    /* color: var(--red); */
    cursor: pointer;
    
}
.star-icon-red:hover{
    /* color: red; */
    cursor: pointer;
   
}

@media only screen and(max-width:400px) {
    .grid-container{
    width: 20px;
    height: 100px;
    margin-left: 0;
    }
    .coin-logo{
        height: 1rem;
        width: 500rem;
       }
       .info-container{
        margin: 1rem;
   }
}
@media only screen and(max-width:350px) {
    .grid-container{
        width: 15px;
        height: 80px;
        margin-right: 1rem;
        }
        .coin-logo{
            height: 0.7rem;
            width: 600rem;
           }
}
.star-icon-green{
    background-color: var(--darkGreay);
    color: black;
}