.flex-info{
 display: flex;
 justify-content: space-between;
 align-items: flex-start;
 padding: 0.5rem 3rem;

}
.track-crypto-heading,
.real-time-heading
{
        font-size: 6.5rem;
        margin: 0;
}

.track-crypto-heading{
    color: var(--white);
    -webkit-text-stroke-width: 3px;
    -webkit-text-stroke-color:var(--white);
   }
   .track-crypto-heading:hover{
    -webkit-text-stroke-color:var(--white);
       color: var(--black);
       transition: all 0.3s;
   }


.real-time-heading{
 color: var(--blue);
}
.info-text{
   font-size: 1rem;
   color: var(--grey);
}
.btn-flex{
    display: flex;
    justify-content: flex-start;
    gap: 1.5rem;
    align-items: center;
    margin-top: 2rem;
    padding: auto;
}
.phone-container{
    width: 50%;
    position: relative;
    padding: 1rem;
}
.iphone{
    position: absolute;
     z-index: 100;
    min-width: 350px;
    width: 50%;
    right: 0;
}
.gradient{
position: absolute;
min-width: 250px;
  width: 40%;
  top: 8rem;
  right: 0;
}
@media  only screen and(max-width:1200px) {
    .track-crypto-heading,
    .real-time-heading
    {
            font-size: 4.5rem;
            margin: 0;
    }
}
@media only screen and(max-width:1000px){
    .iphone{
       
        min-width: 250px;
        width: 50%;
        
    }
    .gradient{
    min-width: 200px;
       top: 6rem; 
    }
}
@media only screen and (max-width:800px){
    .flex-info{
        flex-direction: column;
    }
   
    .phone-container{
        display: block;
        margin:auto;
        margin-top: 3rem;
   }
   .iphone{
    position: absolute;
       left: 1rem;
       width: 40%;
       min-width: 200px;
   }
   .gradient{
    position: absolute;
     left: 25%;
     
     min-width: 150px;
   }

   .track-crypto-heading,
.real-time-heading
{
       font-size: 3rem;
       text-align: center;
}
.track-crypto-heading{
    -webkit-text-stroke-width:1px;
}
    .info-text{
      text-align: center;
}
.btn-flex{
    justify-content: center;
}

}
@media only screen and (max-width:450px){
    .iphone{
        position: absolute;
         z-index: 1; 
        min-width: 200px;
        width: 50%;
        
    }
    .gradient{
        position: absolute;
        min-width: 140px;
           top: 6rem; 
        }

}

@media only screen and (max-width:380px){

.left-component{
    margin-right: 2.5rem;
}
.track-crypto-heading,
.real-time-heading
{
        font-size: 3rem;
        margin: 0;
}
.info-text{
    text-align: center;
    
}
.iphone{
    position: absolute;
    min-width: 150px;
    width: 40%;
   left: 2rem;
    
}
.gradient{
    position: relative;
    min-width: 90px;
       top: 6rem; 
       left: 4rem;
    }

}

@media only screen and (max-width:340px){
    .info-text{
        text-align: center;
        margin-right: 1rem;
    }
    .btn-flex{
        margin-top: 1rem;
    }

}
.rwebshare-container{

  margin-top: 20px;
}

@media (max-width: 768px) {
    .rwebshare-container {
      margin-top: 10px;
    }
  }
