.coins-flex{
display: flex;
justify-content: flex-start;
align-items: center;
 gap: 1.5rem;
 margin: 0rem 1.5rem;
}
 
   .p {
       font-size: larger;
   }
   @media only screen and (max-width:600px) {
      .p {
         display: none;
      }
      .coins-flex{
         margin: 0;
      gap: 1rem;
      }
     
   }

